<div class="wrapper">
  <div class="game-wrapper">
    <app-log [logs]="state.logs"></app-log>
    <div class="game-container">
      <div class="view-container">
        <div class="avatar-container">
          <div class="avatar">
            <div *ngIf="!state.firstTorch" style="color: white">LVL. {{ state.level ? state.level : '?' }}</div>
            <div *ngIf="!state.firstTorch" [style.color]="state.playerClass.color">{{ state.playerClass.name }}</div>
          </div>
          <app-vitals *ngIf="!state.firstTorch"></app-vitals>
        </div>
        <app-dungeon></app-dungeon>
      </div>
      <div class="game-controls">
        <div class="game-actions">
          <ng-container *ngFor="let action of state.actions">
            <app-button
              *ngIf="action.visible"
              style="margin: 60px;"
              [label]="action.label"
              [cooldownTime]="action.cooldown"
              [disabled]="!action.enabled"
              (clicked)="state.buttonPressed(action.id)">
            </app-button>
          </ng-container>
        </div>
        <app-inventory></app-inventory>
      </div>
    </div>
  </div>
</div>
