.wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.game-wrapper {
  display: flex;
  width: 800px;
  height: 100vh;
}

.log-container {
  flex: 1;

  color: gray;
}

.game-container {
  margin-left: 10px;
  flex: 2;
}

.logLine {
  padding: 5px;
}

.highlightLogLine {
  color: white;
}

.view-container {
  display: flex;
}

.avatar-container {
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 200px;
  height: 200px;

  border: 1px solid gray;
}

.player-view-container {
  width: 200px;
  height: 200px;

  border: 1px solid gray;
  margin-left: 20px;

  background-image: url(/assets/images/dungeon.png);
}
