<div class="wrapper">
  <div class="game-wrapper">
    <div class="log-container">
      <div class="logLine" *ngFor="let log of logs.slice().reverse(); let first = first">
        <span [class.highlightLogLine]="first">{{ log }}</span>
      </div>
    </div>
    <div class="game-container">
      <div class="view-container">
        <div class="avatar-container">
          <div class="avatar">
            <div style="color: white">LVL. 2</div>
            <div style="color: orange">Warrior</div>
          </div>
          <app-vitals></app-vitals>
        </div>
        <app-dungeon></app-dungeon>
      </div>
      <div>
        <app-button style="margin: 10px;" label="Light torch" animationSpeed="1000" (clicked)="lightTorch($event)"></app-button>
        <app-button style="margin: 10px;" label="Slash" animationSpeed="100" (clicked)="slash($event)"></app-button>
        <app-button style="margin: 10px;" label="Focus" animationSpeed="10" [disabled]="true"></app-button>
      </div>
    </div>
  </div>
</div>
