.wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.game-wrapper {
  display: flex;
  width: 800px;
  height: 100vh;
}

.game-container {
  margin-left: 10px;
  flex: 2;
}

.view-container {
  display: flex;
}

.avatar-container {
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 200px;
  height: 200px;

  border: 1px solid gray;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-controls {
  display: flex;
}

.game-actions {
  width: 222px;
}
