.dungeon-container {
  width: 200px;
  height: 200px;

  border: 1px solid gray;
  margin-left: 20px;

  background-image: url(/assets/images/dungeon.png);
}

.enemy-container {
  width: 100%;
  height: 100%;

  background-image: url(/assets/images/slime.png)
}
